@import './components/buttons';

/* blocks */
@import './blocks/callnowbutton';
@import './blocks/phonelist';
@import './blocks/newsletter';
@import './blocks/sociallist';

@import './blocks/headerlogo';   


/* layout blocks */
@import './blocks/header';
@import './blocks/footer';

/* basic layout rules */
html, body {
    width: 100%;
    height: 100%;
}
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

.wp-site-blocks {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    header, div.site-footer{
        flex-shrink:1;
    }
    main{
        flex-grow:1;
    }
}