.theme-contactlist{
    ul.contacts{
        padding:0;
        list-style:none;
        li{


        }
    }
}
.kitelywidget.callnow{
    h6{

    }
    a{
        text-decoration:none;
        display:inline-flex;
        .it-icon{
            width:20px;
            height:20px;
            margin-right:7px;
        }
    }       
}