.theme-contactlist{
    width:100%;
    display:flex;
    flex-wrap:wrap;
    ul.contacts{
        padding:0;
        list-style:none;
        display:flex;
        flex-wrap:wrap;
        max-width:100%;
        li{
            padding:0 1rem 0 0;
            margin:0 0 25px 0;
            width:100%;

        }
    }
}
@media screen and (min-width:961px){
    .theme-contactlist{
        ul.contacts{
            li{
                width:50%;
                display:inline-flex;
                box-sizing: border-box;
            }
            li:nth-of-type(even) {
               // justify-content: flex-end;
                padding:0;
              }
        }
    }
}
.kitelywidget.callnow{
    h6{
        text-transform: uppercase;
        color: #fff;
        letter-spacing: 0.2em;
        font-weight: 500;
        padding-bottom: 15px;
        margin-top: 0;
        margin-bottom: 0;
        display:block;
    }
    a{
        text-decoration:none;
        
        .kt-icon{
            width:16px;
            height:20px;
            margin-right:7px;
            display:inline-flex;
            svg{
                max-width:100%;
            }
        }
    }       
}